@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 247 234;
  --foreground: 25 23 22;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  margin: 0;
}

.section-padding {
  @apply px-4 sm:px-6 lg:px-8;
}

.container-max {
  @apply mx-auto max-w-7xl;
}